/* 投稿画面のCSS */

/* ヘッダー上部 */
.header1 {
    background-color: #68B7F0;
    color: white;
    text-align: center;
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
}

#menu {
    float: left;
    background-color: #68B7F0;
    border: none;
    margin-left: 5px;
    margin-top: 5px;
}

/* 検索ボックス */
#searchInput {
    float: right;
    font-size: 25px;
    margin-right: 5px;
    margin-top: 12px;
}

#notice {
    float: right;
    background-color: transparent;
    border: none;
    margin-right: 5px;
    margin-top: 5px;
}

#userIcon {
    float: right;
    background-color: transparent;
    border: none;
    margin-right: 5px;
    margin-top: 5px;
}

/* ヘッダー下部 */
.header2 {
    width: 100%;
    height: 60px;
    background-color: #68B7F0;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/* タイムラインボタン */
#timeline {
    border: none;
    font-size: 30px;
    width: 100%;
    height: 60px;
    color: white;
    background-color: #68B7F0;
    transition: .3s;
}

#timeline:hover {
    background: #86c7f5;
}

.left-item {
    float: left;
    width: 50%;
}

/* 質問ボタン */
#question {
    border: none;
    font-size: 30px;
    width: 100%;
    height: 60px;
    color: white;
    background-color: #68B7F0;
    transition: .3s;
}

#question:hover {
    background: #86c7f5;
}

.right-item {
    float: left;
    width: 50%;
}

/* ボディ */

.body {
    padding: 0%;
    margin: 0%;
}

/* グッドボタン */

#goodbtn {
    position: fixed;
    background-color: transparent;
    border: none;
    float: right;
    margin-top: 50px;
}

#goodbtn:hover{
    cursor: pointer;
}

#good-count {
    position: fixed;
    background-color: transparent;
    border: none;
    float: right;
    margin-top: 45px;
    margin-left: 50px;
    font-size: 32px;
}

/* 全体コンテンツ */
.Allcontainer {
    display: flex;
}

.contents {
    flex: 1;
}

/* 左側コンテンツ */
.left-contents {
    float: left;
}

/* 中央コンテンツ */
.center-contents {
    float: left;
}

/* 右側コンテンツ */
.right-contents {
    float: left;
}

/* 投稿ボタン */
#postbtn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 75px;
    width: 75px;
    background-color: #86c7f5;
    border: none;
}

#postbtn:hover{
    cursor: pointer;
}

#contents {
    width: 1000px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 10px 10px 20px 10px;
}

/* タグ */
li {
    display: inline-block;
    margin: 0 .5em .6em 0;
    padding: .5em;
    line-height: .5;
    text-decoration: none;
    color: #000000;
    background-color: #EDEEEE;
    border-radius: 2em;
}

li:before {
    content: "#";
}

li:hover {
    cursor: pointer;
}

/* 日付 */
#contents a {
    float: right;
}

#reply-form {
    width: 1000px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* テキストエリアのフレックス*/
.FlexTextarea {
    position: relative;
    font-size: 1rem;
    line-height: 1.8;
}

.FlexTextarea__dummy {
    overflow: hidden;
    visibility: hidden;
    box-sizing: border-box;
    padding: 5px 15px;
    min-height: 40px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid;
}

.FlexTextarea__textarea {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px 15px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #b6c3c6;
    border-radius: 4px;
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
    resize: none;
}

/* ユーザーアイコン */
.user {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: #89baeb;
    width: 1em;
    height: 1em;
    font-size: 30px;
    overflow: hidden;
}

.user::before,
.user::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #3388dd;
    content: "";
}

.user::before {
    top: 0.15em;
    width: 0.4em;
    height: 0.4em;
}

.user::after {
    bottom: -0.4em;
    width: 0.8em;
    height: 0.8em;
}

#user:hover{
    cursor: pointer;
}
#usernametext:hover{
    cursor: pointer;
}

#reply {
    width: 1000px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="button"], input[type="submit"], input[type="reset"] {
    cursor: pointer;
  }
