/* 投稿画面のCSS */

/* テキストエリアのサイズ */
textarea {
    resize: none;
    width:800px;
    height:200px;
}

/* ボタンコンテナのスタイリング */
.button-container {
    text-align: center;
    margin: 50px auto;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}