/* ヘッダー */

/* ヘッダー上部 */
.header1 {
    background-color: #68B7F0;
    color: white;
    text-align: center;
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
}

#changepass {
    background-color: #68B7F0;
    color: white;
    font-weight: bold;
}

#logout {
    background-color: #68B7F0;
    color: white;
    font-weight: bold;
}

#menu {
    float: left;
    background-color: transparent;
    border:none;
}
#notice{
    
			top: 200px;
			left: 588px;
}


/* 検索ボックス */
#searchInput {
    float: right;
    font-size: 25px;
    margin-top: 5px;
    position:relative;
	top: 50px;
	left:50px;
}

#notice{
    float: right;
    background-color: transparent;
    border: none;
    position:relative;
	top: 50px;
	left:50px;
}

#userIcon{
    float: right;
    background-color: transparent;
    border: none;
}

/* ヘッダー下部 */
.header2 {
    width: 100%;
    height: 60px;
    background-color: #68B7F0;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/* タイムラインボタン */
#timeline {
    border: none;
    font-size: 30px;
    width: 100%;
    height: 60px;
    color: white;
    background-color: #68B7F0;
    transition: .3s;
}

#timeline:hover {
    background: #86c7f5;
}

.left-item {
    float: left;
    width: 50%;
}

/*時刻表示*/
#time{
    position: absolute;
    top: 165px;
    right: 145px;
  }

/* 質問ボタン */
#question {
    border: none;
    font-size: 30px;
    width: 100%;
    height: 60px;
    color: white;
    background-color: #68B7F0;
    transition: .3s;
}

#question:hover {
    background: #86c7f5;
}

.right-item {
    float: left;
    width: 50%;
}

/* ボディ */

.body {
    padding: 0%;
    margin: 0%;
}

/* 全体コンテンツ */
.Allcontainer {
    width: 100%;
    display: flex;
}
.contents {
    flex: 1;
}
/* 左側コンテンツ */
.left-contents {
    flex: 0 0 10%;
}


/* 中央コンテンツ */
.center-contents {
    flex: 0 0 80%; /* 全体の80%の幅 */
}

.user-left img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* 画像を枠に合わせて切り抜く */
}

/* 右側コンテンツ */
.right-contents {
    flex: 0 0 10%;
}

#post_title{
    float: left;
}

#post_tag{
    float: left;
}

/* 投稿 */
#contents {
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: none;
    margin-right: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.usercontents{
    flex: 1;
}

#Tagu {
    position:relative;
			top: 100px;
			left: 10px;
}

/* 左側コンテンツ */
.user-left {
    float: left;
}
.user-center {
    float: none;
}
/* 右側コンテンツ */
.user-right {
    float: right;
}

/* タグ */
li {
    display: inline-block;
    margin: 0 .5em .6em 0;
    padding: .5em;
    line-height: .5;
    text-decoration: none;
    color: #000000;
    background-color: #EDEEEE;
    border-radius: 2em;
}
li:before {
    content: "#";
}
li:hover { 
    cursor: pointer;
}

/* 投稿ボタン */
#postbtn {
    position: fixed;
    right:50px;
    bottom:50px;
    height:75px;
    width:75px;
    background-color: #86c7f5;
    border: none;
}

#postbtn:hover { 
    cursor: pointer;
    text-decoration: underline;
}