/* タグ検索画面のCSS */

/* ヘッダー上部 */
.header1 {
    background-color: #68B7F0;
    color: white;
    text-align: center;
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
}

#menu {
    float: left;
    background-color: transparent;
    border:none;
}

/* 検索ボックス */
#searchInput {
    float: right;
    font-size: 25px;
}

#notice{
    float: right;
    background-color: transparent;
    border: none;
}

#userIcon{
    float: right;
    background-color: transparent;
    border: none;
}

/* ヘッダー下部 */
.header2 {
    width: 100%;
    height: 60px;
    background-color: #68B7F0;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/* タイムラインボタン */
#timeline {
    border: none;
    font-size: 30px;
    width: 100%;
    height: 60px;
    color: white;
    background-color: #68B7F0;
    transition: .3s;
}

#timeline:hover {
    background: #86c7f5;
}

.left-item {
    float: left;
    width: 50%;
}

/* 質問ボタン */
#question {
    border: none;
    font-size: 30px;
    width: 100%;
    height: 60px;
    color: white;
    background-color: #68B7F0;
    transition: .3s;
}

#question:hover {
    background: #86c7f5;
}

.right-item {
    float: left;
    width: 50%;
}

/* ボディ */

.body {
    padding: 0%;
    margin: 0%;
}

h3{
    text-align: center;
}

#contents{
    width: 1000px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    margin: 10px 10px 20px 10px;
}
/* タグ */
li {
	display: inline-block;
	margin: 0 .5em .6em 0;
	padding: .5em;
	line-height: .5;
	text-decoration: none;
	color: #000000;
	background-color: #EDEEEE;
	border-radius: 2em;
}
li:before {
	content: "#";	
}
li:hover { 
    cursor: pointer;
}

/* 日付 */
#contents a {
    float: right;
}

/* タイトル */
h2{
    margin: 0px 0px 0px 0px;
    font-size: 20px;
}
